/* styles.css */

.card {
    width: 100px;
    height: 100px;
    background-color: blue; /* רקע כחול בברירת המחדל */
    background-size: cover;
    background-position: center;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s, background-image 0.3s;
    display: inline-block; /* לסידור כרטיסים בשורה */
    margin: 5px; /* רווח בין הכרטיסים */
}

.card.flipped {
    background-color: transparent; /* הסתר את הרקע הכחול כשכרטיס התהפך */
}

.card.matched {
    pointer-events: none; /* מנע לחיצות על כרטיסים תואמים */
    display: none;
}
